
.hamburgerButton {
  position: absolute;
  top: 8px;
  left: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburgerClosed {
  color: #AAA;
}

.hamburgerOpened {
  color: red;
}

.container {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 220px;
  background: rgb(26, 26, 44);
}

.containerContents {
  padding: 32px 16px;
}

.version {
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: #aaa;
}
