.chatBox {
  position: fixed;
  top: 32px;
  bottom: 0;
  overflow: hidden;
}

.menuBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 28px;
  border-bottom: 1px solid lightblue;
  background-color: #333;
  z-index: 10000000;
}

.connectedIcon {
  position: absolute;
  top: 8px;
  right: 32px;
}

.quitIcon  {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  color: #bbb;
}

.quitIcon:hover {
  color: red;
}

.connected {
  color: #bbb;
}

.disconnected {
  color: red;
}

.futureMessageContainer {
  position: absolute;
  bottom: 16px;
  left: 14px;
  width: 90%;
  background-color: #DDD;
  color: black;
  border: 2px solid black;
  padding: 4px;
  text-align: center;
  border-radius: 20px;
}
